@import "tailwindcss";

@variant dark (&:where(.dark, .dark *));

@theme {
  --color-background: oklch(100% 0 0);
  --color-foreground: oklch(19.81% 0 0);
  --color-card: oklch(100% 0 0);
  --color-card-foreground: oklch(19.81% 0 0);
  --color-popover: oklch(100% 0 0);
  --color-popover-foreground: oklch(19.81% 0 0);
  --color-primary: oklch(27.84% 0 0);
  --color-primary-foreground: oklch(98.04% 0 0);
  --color-secondary: oklch(96.48% 0 0);
  --color-secondary-foreground: oklch(27.84% 0 0);
  --color-muted: oklch(96.48% 0 0);
  --color-muted-foreground: oklch(52.2% 0 0);
  --color-accent: oklch(96.48% 0 0);
  --color-accent-foreground: oklch(27.84% 0 0);
  --color-destructive: oklch(62.8% 0.235 21.2);
  --color-destructive-foreground: oklch(98.04% 0 0);
  --color-border: oklch(90.77% 0 0);
  --color-input: oklch(90.77% 0 0);
  --color-ring: oklch(19.81% 0 0);
  --color-chart-1: oklch(66.79% 0.147 38.13);
  --color-chart-2: oklch(55.44% 0.099 206.49);
  --color-chart-3: oklch(41.59% 0.053 219.98);
  --color-chart-4: oklch(73.68% 0.139 86.02);
  --color-chart-5: oklch(72.01% 0.174 46.98);
  --color-sidebar: oklch(98.04% 0 0);
  --color-sidebar-foreground: oklch(45.61% 0.014 256.45);
  --color-sidebar-primary: oklch(31.19% 0.016 256.45);
  --color-sidebar-primary-foreground: oklch(98.04% 0 0);
  --color-sidebar-accent: oklch(96.17% 0.013 256.45);
  --color-sidebar-accent-foreground: oklch(31.19% 0.016 256.45);
  --color-sidebar-border: oklch(91.45% 0.019 251.49);
  --color-sidebar-ring: oklch(65.73% 0.196 254.28);

  --radius: 0.5rem;
  --radius-lg: 0.5rem;
  --radius-md: calc(0.5rem - 2px);
  --radius-sm: calc(0.5rem - 4px);
}

@layer theme {
  .dark {
    --color-background: oklch(19.81% 0 0);
    --color-foreground: oklch(98.04% 0 0);
    --color-card: oklch(19.81% 0 0);
    --color-card-foreground: oklch(98.04% 0 0);
    --color-popover: oklch(19.81% 0 0);
    --color-popover-foreground: oklch(98.04% 0 0);
    --color-primary: oklch(98.04% 0 0);
    --color-primary-foreground: oklch(27.84% 0 0);
    --color-secondary: oklch(40.37% 0 0);
    --color-secondary-foreground: oklch(98.04% 0 0);
    --color-muted: oklch(40.37% 0 0);
    --color-muted-foreground: oklch(67.98% 0 0);
    --color-accent: oklch(40.37% 0 0);
    --color-accent-foreground: oklch(98.04% 0 0);
    --color-destructive: oklch(44.64% 0.159 21.2);
    --color-destructive-foreground: oklch(98.04% 0 0);
    --color-border: oklch(40.37% 0 0);
    --color-input: oklch(40.37% 0 0);
    --color-ring: oklch(84.47% 0 0);
    --color-chart-1: oklch(58.32% 0.166 253.71);
    --color-chart-2: oklch(60.08% 0.116 184.52);
    --color-chart-3: oklch(66.23% 0.164 76.07);
    --color-chart-4: oklch(69.14% 0.151 299.26);
    --color-chart-5: oklch(65.94% 0.184 7.06);
    --color-sidebar: oklch(31.19% 0.016 256.45);
    --color-sidebar-foreground: oklch(96.17% 0.013 256.45);
    --color-sidebar-primary: oklch(58.72% 0.163 260.13);
    --color-sidebar-primary-foreground: oklch(100% 0 0);
    --color-sidebar-accent: oklch(42.25% 0.008 256.45);
    --color-sidebar-accent-foreground: oklch(96.17% 0.013 256.45);
    --color-sidebar-border: oklch(42.25% 0.008 256.45);
    --color-sidebar-ring: oklch(65.73% 0.196 254.28);
  }
}

@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-background text-foreground;
  }
}
